*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.border {
	border: solid 2px #9999ff;
	border-radius: 10px;
	padding: 15px;
	color: #1A189F;
}

.height550px {
	height: 550px;
}

/*page-top*/

.logo {
	flex-basis:99%
}

.menu {
	flex-basis:1%
}

#page-top {
	width: 75%;
	padding: 15px;
	margin: auto auto 25px auto;
	background-color: #9999ff;
	border-radius: 0 0 10px 10px;
	display: flex;
}
#page-top-left {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	float: left;
}

#page-top-right {
	color: #fff;
	font-size: 12px;
	width: 100%;
}

#loginname {
	font-weight: bold;
}

#logout {
	color: #2420A8;
	text-decoration: none;
}

#logout:active{
	color: #000000;
	text-decoration: none;
}

#logout:hover{
	color: #D1D4FF;
	text-decoration: none;
}

.menu-link {
	color: #ffffff;
	text-decoration: none;
}

.menu-link:active{
	color: #000000;
	text-decoration: none;
}

.menu-link:hover{
	color: #D1D4FF;
	text-decoration: none;
}

.menu {
	padding: 7px;
	margin: 0px;
	background-color: #b2b2FF;
	border-radius: 15px 0px 15px 0px;
}

.menu:hover {
	background-color: #549AE1;
	cursor: default;
}

.menu ul {
	list-style: none;
	display: none;
	position: absolute;
	background-color: #7878FF;
	margin-top: 8px;
	margin-left: -7px;
	border-bottom-right-radius: 15px;
	box-shadow: 5px 5px 10px grey;
}

.menu ul li {
	padding: 7px;
	border-left: solid 4px #7878FF;
}

.menu ul li:hover {
	padding: 7px;
	background: #99A3FF;
	border-left: solid 4px #2F65CC;
	border-radius: 0px 15px 15px 0px;
}

.menu:hover > ul {
	display: block;
	
}

.selector {
	color: #000;
}

.selector:hover > .selectorInput {
	border-radius: 11px 11px 0px 0px;
}

.selectorInput {
	outline:none;
	text-align: left;
    background-color: #fff;
    border: solid 1px #9999ff;
	border-radius: 15px;
    font-size: 12px;
    padding: 4px;
	width: 120px;
}

.selectorUl {
    list-style: none;
    font-size: 12px;
	width: 128px;
    display: none;
    position: absolute;
    background-color: #fff;
    border: solid 1px #9999ff;
	border-top: none;
    border-radius: 0px 0px 13px 13px;
	overflow: hidden;
}

.selectorLi {
	padding: 4px;
	cursor: default;
}

.selectorLi:hover {
	color: #fff;
	padding: 4px;
	background: #9999ff;
	border-radius: 15px;
}

#separator {
	clear: left;
}

/*Container*/
.container{
  display: flex;
}

/*message*/
#message{
	width: 30%;
	float:left;
	margin: 30px auto auto 25%;
	color: #9999FF;
	word-wrap: break-word;	
}

/*LoginContent*/
#liContent{
	width: 170px;
	height: fit-content;
	border: solid 2px #9999ff;
	border-radius: 10px;
	padding: 15px;
	margin: 30px 25% 30px auto;
	/*color: #6868FF;*/
}

.lcPanel {
	padding: 5px;
	font-size: 12px;
}

.lcTextbox {
	border: solid 1px #9999ff;
	border-radius: 20px;
	outline: none;
}

.lcTextbox:focus {
	outline: none;
}

.lcButton {
	border: solid 1px #9999ff;
	border-radius: 20px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A2A2FF;
	text-decoration: none;
	
}

.selectedButton {
	color: #A2A2FF;
	background-color: #FFFFFF;
}

.lcButton:hover{
	color: #FFFFFF;
	background-color: #C7C7FF;
}

.lcButton:active{
	background-color: #9595FF;
}

.lcButton:focus{
	outline: none;
}

.lcLink {
	color: #9999ff;
	text-decoration: none;
}

.lcLink:hover {
	color: #ADADAD;
	text-decoration: none;
}

.lcLink:active {
	color: #000000;
	text-decoration: none;
}

.lcLink:visited{
	text-decoration: none;
}

/*page-left*/
#page-left {
	float:left;
	width: 15%;
	height: 530px;
	margin: auto auto auto 6.25%;
	overflow: auto;
}

#incidents {
	height: 355px;
	margin: 15px auto 15px 50px;
	overflow: auto;
}

.ticketButton {
	display: flex;
	flex-wrap: nowrap;
}

.plLink {
	text-decoration: none;
}

.scroll::-webkit-scrollbar {
    width: 12px;
	max-height: 50px;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(153, 153, 255, 0.5);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 255, 0.5);
}

.scroll::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(172, 172, 255, 1);
}

#page-right{
	width: 60%;
	height: 530px;
	margin: auto 11% auto auto;
}

#page-right-content{
	height: 530px;
	overflow: auto;
}

#noselected-div {
	text-align: center;
	margin: 200px auto auto auto;
	color: #9999FF;
}

#ticket-div{
	width: 60%;
	height: 530px;
	margin: auto;
}

#ticket-content{
	height: 530px;
	overflow: auto;
}

#incident-desc {
	width: 95%;
}

#pr-tc-left {
	width: 60%;
}

#pr-tc-right {
	width: 20%;
	padding: 0px 0px 0px 5px;
}

#attach {
	border: solid 1px #9999ff;
	height: 100px;
	margin: auto auto 5px auto;
	padding: 5px;
	overflow: auto;
}

.attach-link {
	font-size: 10px;
	margin: auto auto auto 10%;
}

#attach-label {
	margin: auto 5px 50px auto;
}

input[type="file"] {
    display: none;
}

.prLabel {
	display: block;
	margin: auto auto 8px 0px;
}

.tcLabel {
	margin: auto auto 0px 0px;
}

.prTextarea {
	display: block;
	margin: auto auto 5px 0px;
	resize: none;
	width: 80%;
	height: 100px;
	border: solid 1px #9999ff;
	border-radius: 10px;
	padding: 5px;
	font-size: 12px;
	color: #515151
}

.prTextarea:focus {
	outline: none;
}

.prPanel {
	margin: auto auto 10px 0px;
}

.prLabel-span {
	font-weight: bold;
}

#incident-messages {
	overflow: auto;
}

#messageDate {
	font-size: 10px;
}

.pageContent650 {
	font-size: 14px;
	display: flex;
	height: 650px;
	margin: auto;
}

.pageContent550 {
	font-size: 14px;
	display: flex;
	height: 550px;
	/* min-height: 550px; */
	margin: auto;
}

.underLineP {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: solid 1px #9999FF;
}

#page-profile-userlist {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

#page-profile-userlist ul {
	list-style: none;
}

#page-profile-userlist .page-left-list {
	width: 250px;
	padding-right: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

#page-profile-userlist ul li {
	padding: 3px 10px 3px 3px;
	font-size: 12px;
	margin-left: 15px;
	font-weight: bold;
}

#page-profile-userlist ul li:hover {
	margin-left: 12px;
	border-left: solid 3px #9999FF;
}

#page-profile-userlist input {
	font-size: 12px;
	margin-bottom: 10px;
	width: 95%;
}

.elementToBottom {
    margin-top: auto;
}

#page-profile-data {
	display: flex;
	flex-direction: column;
}

#page-profile-data > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

#page-profile-data #editCategoryName {
	display: block;
}

#page-profile-data label {
	margin-right: 5px;
}

#editRoles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#editRoles-left, #editRoles-right {
	flex-basis: 50%;
}

#editRoles-right {
	margin-left: 10px;
}

#addRoles, #availableRoles {
	/* width: 90%; */
	/* height: 90px; */
	border: solid 1px #9999ff;
	border-radius: 10px;
	padding: 5px;
	font-size: 11px;
}

.rolesList {
	display: flex;
	flex-direction: column;
	padding-right: 5px;
	overflow: auto;
}

.height90 {
	height: 90px;
}

.height300 {
	height: 300px;
}

/* .rolesList ul li { */
	/* list-style: none; */
	/* margin-bottom: 3px; */
	/* padding-left: 5px; */
/* } */

/* .rolesList ul li:hover { */
	/* background-color: rgb(125, 175, 222); */
	/* color: white; */
	/* border-radius: 10px; */
	/* cursor: pointer; */
/* } */

.editRoleItems {
	text-align: left;
	outline: none;
	border: none;
	font-size: 11px;
	color: rgb(125, 175, 222);
	background-color: white;
	padding: 1.5px 5px 1.5px 5px;
}

.editRoleItems:hover {
	color: white;
	background-color: rgb(125, 175, 222);
	border-radius: 10px;
	cursor: pointer;
}

#editOthers {
	display: flex;
}

#editOthers div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-profile-data div button{
	width: 100%;
	margin: 5px auto 0px auto;
	text-align: center;
}

#page-profile-data .inLineButton {
	width: auto;
	margin: 0px;
}

.deleteButton {
	background-color: #ff502d;
	border-color: #e0482a;
}

.deleteButton:hover {
	background-color: #ff7d63;
}

.width50percent {
	width: 50%;
}

.width100percent {
	width: 100%;
}

.flexRowWrap {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.noWrap {
    white-space: nowrap;
}

.flexContainer {
	display: flex;
}

.LabelAndInput {
    /* flex-basis: 0; */
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-between;
    /* background-color: lightgrey; */
    margin-bottom: 5px;
    align-items: center;
	/* max-width: 250px; */
	width: 250px;
}

.width50px {
	width: 50px;
}







/* .invisibleScroll::-webkit-scrollbar { */
    /* width: 0px; */
/* } */

/* .invisibleScroll::-webkit-scrollbar-track { */
	/* -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 255, 0.5); */
    /* border-radius: 10px; */
/* } */

/* .invisibleScroll::-webkit-scrollbar-thumb { */
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 255, 0.5); */
/* } */

/* .invisibleScroll::-webkit-scrollbar-thumb:hover { */
    /* -webkit-box-shadow: inset 0 0 6px rgba(172, 172, 255, 1); */
/* } */

.marginTop15 {
	margin-top: 15px;
}

/* .asd { */
    /* width: fit-content; */
    /* margin: auto; */
/* } */

.asd {
    height: 350px;
    overflow: auto;
	padding-bottom: 1px;
}

table {
	/* margin-top: 15px; */
	border-collapse: collapse;
    width: 100%;
	/* border-radius: 15px; */
	/* box-shadow: 0px 0px 10px rgba(0,0,0,0.30); */
	font-size: 12px;
	
	
	
	
	/* table-layout: fixed; */
	/* white-space: nowrap; */
	/* overflow: auto; */
	
	
}

td, th {
	/* border: 1px solid rgba(153, 153, 255, 0.5); */
	padding: 5px;
	white-space: nowrap;
}

/* th { */
	/* border-top: none; */
/* } */

td {
	/* border-bottom: none; */
	font-style: italic;
	
	
	/* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
	
}


/* .col1 { */
  /* width: 10%; */
/* } */
/* .col2 { */
  /* width: 40%; */
/* } */
/* .col3 { */
  /* width: 30%; */
/* } */
/* .col4 { */
  /* width: 20%; */
/* } */


/* thead > tr { */
  /* position: relative; */
  /* display: block; */
/* } */

/* tbody { */
  /* display: block; */
  /* height: 347px; */
  /* overflow: auto; */
/* } */







/* .noneLeftBorder { */
	/* border-left: none; */
/* } */

/* .noneRightBorder { */
	/* border-right: none; */
/* } */

tbody tr:nth-child(odd) {
  background: #eee;
}

/* tbody tr:last-child td:first-child { */
  /* border-radius: 0px 0px 0px 15px; */
/* } */

/* tbody tr:last-child td:last-child { */
  /* border-radius: 0px 0px 15px 0px; */
/* } */



/* thead > tr { */
  /* position: relative; */
  /* display: block; */
/* } */

/* tbody { */
  /* display: block; */
  /* height: 347px; */
  /* overflow: auto; */
/* } */

/*page-both*/
#page-both {
	clear: left;
	width: 75%;
	padding: 15px;
	margin: 25px auto 25px auto;
	background-color: #9999ff;
	/*position: relative;*/
	/*left: 39%;*/
	/*bottom: 0px;*/
	/*transform: translate(-50%, 0%);*/
	border-radius: 10px 10px 10px 10px;
}

#created {
	color: #fff;
	font-size: 15px;
}
