<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
	<title>Helpdesk kezdőlap</title>
</head>
<body onload="changeChecked()">
		
	<div layout:fragment="loginContent">
		
		<div class="container">
			
			<div class="pageContent550">

					<div id="page-profile-userlist" class="border">
						<p class="underLineP">Kategóriák</p>

						<input type="text" id="search" class="lcPanel lcTextbox lcBordered" onkeyup="searchBar()" placeholder="Keresés..." autocomplete="off">

						<div class="scroll page-left-list">
							<ul id="userList">
								<li th:each="category : ${categories}">
									<a class="lcLink"  th:href="@{/categories(id=${category.id})}" th:text="${category.category}">
										Hálózat
									</a>
								</li>
							</ul>
						</div>
						
						<div class="elementToBottom">
							<button form="newCategoryForm" class="lcButton lcPanel" type="submit">Kategória hozzáadása</button>
						</div>
						
					</div>
					
					<div th:if="${categoryIsSelected == false}" id="page-profile-data" class="border">
						<h1 id="noselected-div">Válasszon ki egy kategóriát a megtekintéshez.</h1>
					</div>
				
					<div th:if="${categoryIsSelected}" id="page-profile-data" class="border">

						<p class="underLineP">Kategória adatlapja</p>

						<div id="editCategoryName">
							<label>Megnevezés: </label>
							<input class="lcPanel lcTextbox lcBordered" th:value="${selectedCategory.category}"/>
							<button form="editUser" class="lcButton lcPanel inLineButton" type="submit">Átnevezés</button>
						</div>
						
						<p class="underLineP">Tagságok: </p>
						
						<div>
						
							<div id="editRoles">
							
								<form id="editcategories" name="editcategories" th:action="@{/categories} + '?id=' + ${selectedCategory?.id}" method="post"></form>
								
								<div id="editRoles-left">
									
									<label>Hozzáadható: </label>
									
									<div id="addRoles">
										
										<div class="height300 rolesList scroll">
											
											<button th:each="user : ${usersToAdd}" form="editcategories" class="editRoleItems" type="submit" name="userToAdd" th:value="${user.email}" th:text="${user.fullName} + ' (' + ${user.email} + ')'"></button>
											
<!-- 											<label th:each="user : ${usersToAdd}" class="editRoleItems" onclick="editcategoriesSubmit()" th:text="${user.fullName} + ' (' + ${user.email} + ')'"> -->
<!-- 												<input form="editcategories" type="" name="userToAdd"/> -->
<!-- 											</label> -->
											
										</div>
									</div>
									
								</div>
								
								
								
								<div id="editRoles-right">
									
									<label>Meglévő: </label>
									
									<div id="availableRoles">
										
										<div class="height300 rolesList scroll">

											<button th:each="user : ${addedUsers}" form="editcategories" class="editRoleItems" type="submit" name="userToRemove" th:value="${user.email}" th:text="${user.fullName} + ' (' + ${user.email} + ')'"></button>

										</div>
											
									</div>
									
								</div>
								
							</div>
							
						</div>

						<p class="underLineP"></p>

						<div>
							<div>
								<button class="lcButton lcPanel inLineButton" type="submit">Kategória mentése</button>
								<button class="lcButton lcPanel inLineButton deleteButton" type="submit">Kategória törlése</button>
							</div>
						</div>

					</div>

				
			
			</div>
			
		</div>
		
	</div>
		
		
	</body>
</html>
