<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
	<title>Helpdesk kezdőlap</title>
</head>
<body onload="changeChecked()">
		
	<div layout:fragment="loginContent">
		
		<div class="container">
			
			<div class="pageContent550 width50percent">

				<div class="border">
				
					<div class="flexRowWrap">
						
						<form id="search" name="search" th:action="@{/users}" method="post"></form>
						
						<div class="width100percent flexContainer">
					
							<div class="LabelAndInput">
								<label class="noWrap">Teljes név: </label>
								<input form="search" class="lcPanel lcTextbox lcBordered" name="fullName" placeholder="Teljes név"/>
							</div>

							<div class="width50px"></div>
							
							<div class="LabelAndInput">
								<label class="noWrap">E-mail cím: </label>
								<input form="search" class="lcPanel lcTextbox lcBordered" name="email" placeholder="E-mail cím"/>
							</div>
							
						</div>
						<div class="width100percent flexContainer">

							<div class="LabelAndInput">
								<label class="noWrap">Cím: </label>
								<input form="search" class="lcPanel lcTextbox lcBordered" name="address" placeholder="Cím"/>
							</div>

							<div class="width50px"></div>

							<div class="LabelAndInput">
								<label class="noWrap">Telefonszám: </label>
								<input form="search" class="lcPanel lcTextbox lcBordered" name="phoneNumber" placeholder="Telefonszám"/>
							</div>
						
						</div>
						
						<div class="width100percent flexContainer">
						
							<div class="LabelAndInput">
							
								<label class="noWrap">Megoldói csoport: </label>
								<div onmouseover="selectorOver()" onmouseout="selectorOut()" class="selector">
									<input form="search" title="value" class="selectorInput" name="selectedCategory" th:value="${categories[0].category}" readonly />
									<ul class="selectorUl">
										<li onclick="chooser(this)" class="selectorLi" th:each="category : ${categories}" th:text="${category.category}"></li>
									</ul>
								</div>
								
							</div>
						
						</div>
					
					</div>
					
					<div>
					
						<button form="search" class="lcButton lcPanel" type="submit" name="searchButton" value="pressed">Keresés</button>
					
					</div>
					
					<div>
					
						<p class="underLineP"></p>
					
					</div>
					
					<div th:if="${searchIsPressed}">
					
						<div th:if="${#arrays.isEmpty(users)}">
							<label>Nincs a keresési feltételeknek megfelelő felhasználó. </label>
						</div>
						
						<div th:if="${!#arrays.isEmpty(users)}" class="marginTop15">
							<div class="">
								<table>
									<thead>
										<tr>
											<th id="col1" class="noneLeftBorder">Név</th>
											<th id="col2">E-mail cím</th>
											<th id="col3">Cím</th>
											<th id="col4" class="noneRightBorder">Telefonszám</th>
											<th id="col5" width="2px"></th>
										</tr>
									</thead>
								</table>
							</div>
							<div class="asd scroll">
								<table class="">
									<tbody class="">
										
										<tr th:each="user : ${users}">
											<td th:text="${user.fullName}">Akárki Bárki</td>
											<td th:text="${user.email}">akarkibarki56@gmail</td>
											<td th:text="${user.address}">1132. Budapest, Váci Út 82.</td>
											<td th:text="${user.phoneNumber}">+36/20 524-8569</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				
				</div>
			
			</div>
			
		</div>
		
		<script src="scripts/table.js"></script>
		
		</div>
		
		
	</body>
</html>
